<!-- Create Page (Only for logged-in users) -->
<div id="add-main-slider-container" class="card">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <form id="form-storages" class="upload-file-form" method="post" enctype="multipart/form-data"
                action="/storages/upload">
                <div class="row">
                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
                        <div class="card">
                            <img class="product-main-img img-fluid" [src]="urls[0] || url" *ngIf="urls[0] || url"
                                alt="Resource not found" id="product-cover-img">

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="flex-column">
                        <input id='fileUpload' type="file" (change)="onUpdateImageElement($event)" name="fileUpload"
                            style="display:none;" accept='image/*'>
                        <button id="fileUploadBtn" (click)="onSelectFile($event)" class="btn btn-primary"
                            for="fileUpload" type="submit">Upload file</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12">
            <form id="form-slider" class="create-slider-form" method="post" *ngIf="!isSuccessful" name="sliderAddForm"
                (ngSubmit)="f.form.valid && onSliderSubmit()" #f="ngForm">
                <div class="col-md mb-4">
                    <div class="form-group">
                        <label for="inputSliderItemTitle" class="form-label fw-bold">Slider title</label>
                        <input type="text" name="sliderTitle" minlength="2" maxlength="20" required
                            class="form-control border-input" id="inputSliderItemTitle" placeholder="e.g. Rose"
                            [(ngModel)]="form.sliderItemTitle" #sliderTitle="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && sliderTitle.errors }">
                        <div class="invalid-feedback" *ngIf="sliderTitle.errors && f.submitted">
                            <div *ngIf="sliderTitle.errors['required']">Slider title is required</div>
                            <div *ngIf="sliderTitle.errors['minlength'] || ['maxlength']">
                                Slider title must be at least 2 characters
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mb-4">
                    <div class="col-md mb-4">
                        <div class="form-group">
                            <label for="inputSliderContent" class="form-label fw-bold">Slider content</label>
                            <textarea type="text" name="sliderContent" minlength="20" maxlength="50" required rows="5"
                                class="form-control border-input" id="inputSliderContent"
                                placeholder="Enter slider content..." [(ngModel)]="form.sliderContent"
                                #sliderContent="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && sliderContent.errors }"></textarea>
                            <div class="invalid-feedback" *ngIf="sliderContent.errors && f.submitted">
                                <div *ngIf="sliderContent.errors['required']">Slider content is required
                                </div>
                                <div *ngIf="sliderContent.errors['minlength']">
                                    Slider content must be at least 20 or max 50 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 text-end">
                    <div class="col-lg-12 col-md-12 col-sm-12 justify-content-end">
                        <input id="sliderSubmit" class="btn btn-primary" type="submit" value="Add slide">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>