<div class="about-us-container">
    <div class="about-us-image"><img src="../../../../assets/img/about_us.jpg" alt="" />

        <div class="content_resize">
            <div class="title">
                <div class="article">
                    <h2><span>About to</span> Company Name</h2>
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget bibendum tellus.
                            Nunc vel imperdiet tellus. Mauris ornare aliquam urna, accumsan bibendum eros auctor
                            ac.</strong></p>
                    <p>Curabitur purus mi, pharetra vitae viverra et, mattis sit amet nunc. Quisque enim ipsum,
                        convallis
                        sit amet molestie in, placerat vel urna. Praesent congue auctor elit, nec pretium ipsum volutpat
                        vitae. Vivamus eget ipsum sit amet ipsum tincidunt fermentum. Sed hendrerit neque ac erat
                        condimentum vulputate. Nulla velit massa, dictum etinterdum quis, tempus at velit.</p>
                </div>
                <div class="article">
                    <div class="card">
                        <div class="mission-image"><img src="../../../../assets/img/business_misions.jpg" alt="" />
                        </div>
                        <div class="card-content">
                            <h2><span>Our</span> Mission</h2>
                            <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget bibendum
                                    tellus.
                                    Nunc vel imperdiet tellus. Mauris ornare aliquam urna, accumsan bibendum eros auctor
                                    ac.</strong></p>
                            <p>Maecenas vestibulum fermentum eleifend. Mauris erat sem, suscipit non tincidunt quis,
                                vestibulum eget
                                elit. Duis eget arcu ante. Proin nulla elit, elementum sit amet commodo et, eleifend
                                vitae quam. Nam
                                vel aliquam tortor. Aliquam bibendum erat a urna interdum quis mattis augue interdum.
                                Phasellus
                                fermentum bibendum mauris, ut semper justo pharetra vestibulum. Duis dictum purus sed
                                nibh commodo a
                                congue elit lobortis. Nunc sed feugiat tellus. Mauris aliquet lorem non enim euismod
                                quis fermentum
                                erat porta. Nullam non elit orci. Aliquam blandit mattis feugiat. Cras pulvinar aliquet
                                massa, quis
                                laoreet mi pulvinar ac. Aliquam mi augue, vehicula in consectetur in, porttitor sed
                                tellus. Mauris
                                convallis dapibus auctor. Integer in egestas lorem. In nulla dolor, sollicitudin vitae
                                sollicitudin
                                quis, viverra at lorem.</p>
                            <p>Ut ullamcorper velit et nisi feugiat non sagittis tortor pharetra. Mauris ut urna et
                                magna commodo
                                cursus. Curabitur quis elementum arcu. Maecenas eleifend, urna vitae vehicula bibendum,
                                felis tellus
                                tincidunt lorem, at iaculis neque eros ac dui. Nunc malesuada pulvinar suscipit.
                                Phasellus sed
                                tortor quis ligula facilisis aliquam. Aliquam quis magna eu dolor posuere malesuada.
                                Quisque
                                consequat, metus fermentum convallis imperdiet, ante justo pharetra enim, vel commodo
                                ipsum mauris
                                eget purus. Morbi lacinia nisl urna, scelerisque suscipit lacus. Nulla ac orci ut nunc
                                venenatis
                                gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="employees-card">
            <div class="card-employee">

                <div class="card-content-employee">
                    <h2><span></span> H. Rackham</h2>
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget bibendum
                            tellus.
                            Nunc vel imperdiet tellus. Mauris ornare aliquam urna, accumsan bibendum eros auctor
                            ac.</strong></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                    <p>Ut ullamcorper velit et nisi feugiat non sagittis tortor pharetra. Mauris ut urna et
                        magna commodo
                        cursus. Curabitur quis elementum arcu. Maecenas eleifend, urna vitae vehicula bibendum,
                        felis tellus
                        tincidunt lorem, at iaculis neque eros ac dui. Nunc malesuada pulvinar suscipit.
                        Phasellus sed
                        tortor quis ligula facilisis aliquam. Aliquam quis magna eu dolor posuere malesuada.
                        Quisque
                        consequat, metus fermentum convallis imperdiet, ante justo pharetra enim, vel commodo
                        ipsum mauris
                        eget purus. Morbi lacinia nisl urna, scelerisque suscipit lacus. Nulla ac orci ut nunc
                        venenatis
                        gravida.</p>
                </div>
                <div class="employee-image"><img src="../../../../assets/img/male_about.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="employees-card">
            <div class="card-employee">
                <div class="employee-image"><img src="../../../../assets/img/woman_about.jpg" alt="" />
                </div>
                <div class="card-content-employee">
                    <h2><span>Our</span> Natasha</h2>
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget bibendum
                            tellus.
                            Nunc vel imperdiet tellus. Mauris ornare aliquam urna, accumsan bibendum eros auctor
                            ac.</strong></p>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                        their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                        their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).</p>
                    <p>Ut ullamcorper velit et nisi feugiat non sagittis tortor pharetra. Mauris ut urna et
                        magna commodo
                        cursus. Curabitur quis elementum arcu. Maecenas eleifend, urna vitae vehicula bibendum,
                        felis tellus
                        tincidunt lorem, at iaculis neque eros ac dui. Nunc malesuada pulvinar suscipit.
                        Phasellus sed
                        tortor quis ligula facilisis aliquam. Aliquam quis magna eu dolor posuere malesuada.
                        Quisque
                        consequat, metus fermentum convallis imperdiet, ante justo pharetra enim, vel commodo
                        ipsum mauris
                        eget purus. Morbi lacinia nisl urna, scelerisque suscipit lacus. Nulla ac orci ut nunc
                        venenatis
                        gravida.</p>
                </div>

            </div>
        </div>
    </div>
</div>