<div class="http-response-container">
    <div class="card-http-response">
        <div class="card-body">
            <div class="statuses">
                <h3>Http 200 OK </h3>
                <h3>{{serverOK}}</h3>
            </div>
            <div class="updated">
                <h5>Updated at: </h5> <span> 2023/03/21 - 19:44 </span>
            </div>
        </div>
    </div>
    <div class="card-http-response">
        <div class="card-body">
            <div class="statuses">
                <h3>Http 500 OK </h3>
                <h3>{{serverError}}</h3>
            </div>
            <div class="updated">
                <h5>Updated at: </h5> <span> 2023/03/21 - 19:44 </span>
            </div>
        </div>
    </div>
    <div class="card-http-response">
        <div class="card-body">
            <div class="statuses">
                <h3>Http 404 OK </h3>
                <h3>{{serverDeny}}</h3>
            </div>
            <div class="updated">
                <h5>Updated at: </h5> <span> 2023/03/21 - 19:44 </span>
            </div>
        </div>
    </div>
</div>