/* -- Page: shop.js - filter menu -- */
.sec-nav-bar {
    top:0;
    margin-top:66px;
    position: fixed; 
    min-width: 100%; 
    overflow:hidden;
   
    
}
.filter_ver2 {
    background: #f5f5f5;
}

.filter_ver2.show {
    display: block !important;
}

.filter_ver2 .filter_sidebar {
    margin-top: 0;
    padding: 40px;
}

.filter_ver2 .filter_sidebar .filter-category {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-category .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-category .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle {
    padding-left: 0px;
    padding-top: 15px;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li {
    list-style: none;
    padding-bottom: 13px;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li input:checked {
    background-color: #e62263;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li input {
    width: 0.9em;
    height: 0.9em;
    background-color: #d9d9d9;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.filter_ver2 .filter_sidebar .filter-color {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-color .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-color .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-color .list_color {
    padding-left: 0;
    padding-top: 30px;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li {
    padding-bottom: 10px;
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li a:before {
    content: "";
    border: 1px solid #ccc;
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: all 0.3s ease;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li a.active:before {
    border: 1px solid #000;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li a:hover:before {
    border: 1px solid #000;
}

.filter_ver2 .filter_sidebar .filter-size {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-size .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-size .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-size .list-size {
    padding-left: 0;
    padding-top: 23px;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li {
    padding-bottom: 10px;
    list-style: none;
    display: inline-block;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li a {
    display: inline-block;
    min-width: 44px !important;
    height: 44px !important;
    line-height: 41px;
    border: 1px solid #b0b0b0 !important;
    color: #868686;
    margin: 0 10px 10px 0 !important;
    text-align: center;
    transition: all .3s ease;
    font-size: 14px;
    font-weight: 600;
    font-family: Roboto;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li a:hover {
    border: 1px solid #e62263 !important;
    color: #fff;
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li a.active {
    border: 1px solid #e62263 !important;
    color: #fff;
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-price {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-price .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-price .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-price .list-price {
    padding-top: 15px;
    padding-left: 23px;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li {
    padding-bottom: 13px;
    list-style: none;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a i {
    display: none;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a:hover,
.filter_ver2 .filter_sidebar .filter-price .list-price li a.active {
    color: #e62263;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a:hover:before,
.filter_ver2 .filter_sidebar .filter-price .list-price li a.active:before {
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: #d9d9d9;
    border-radius: 50%;
    top: 5px;
    left: -26px;
    transition: .3s;
}

.filter_ver2 .filter_sidebar .widget-tags {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .widget-tags .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .widget-tags .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag {
    padding-left: 0;
    padding-top: 15px;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag li {
    list-style: none;
    display: inline-block;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag li a {
    display: inline-block;
    min-width: 44px !important;
    height: 44px !important;
    line-height: 41px;
    border: 1px solid #b0b0b0 !important;
    color: #868686;
    margin: 0 10px 10px 0 !important;
    text-align: center;
    transition: all .3s ease;
    font-size: 14px;
    font-weight: 400;
    padding: 0 22px;
    font-family: Roboto;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag li a:hover {
    border: 1px solid #e62263 !important;
    color: #fff;
    background: #e62263;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag li a.active {
    border: 1px solid #e62263 !important;
    color: #fff;
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-sub-categories {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-sub-categories .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-sub-categories .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-sub-categories .list-sub-categories {
    padding-top: 15px;
    padding-left: 0px;
}

.filter_ver2 .filter_sidebar .filter-sub-categories .list-sub-categories li {
    list-style: none;
    padding-bottom: 13px;
}

.filter_ver2 .filter_sidebar .filter-sub-categories .list-sub-categories li input {
    width: 0.9em;
    height: 0.9em;
    background-color: #d9d9d9;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.filter_ver2 .filter_sidebar .filter-sub-categories .list-sub-categories li input:checked {
    background-color: #e62263;
}