      <!-- Carousel wrapper -->
      <ngb-carousel (OnChanges)="createSlides($event)" *ngIf="sliderProducts" #carousel [interval]="5000" [pauseOnHover]="pauseOnHover"
        [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let products of sliderItems">
          <div class="slider-content">
            <div class="slide-items" *ngFor="let product of products">
              <img src="{{product.storages[0].fileUrl}}" alt="" name="{{product.productId}}" (click)="shopBtn($event)">
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- Carousel wrapper -->