<section class="popup jsengo_popup">
    <div class="modal-overlay"></div>
    <div class="modal-window">
      <div class="window-window">
        <div class="window-content clearfix">
          <a class="close_edit jsclosepoup" title="Close" href="javascript:void(0)">
            <span class="icon-remove">
              <i class="ti-close"></i>
            </span>
          </a>
          <div class="left">
            <h1 class="title">Join Our Mailing List</h1>
            <p class="sub-title mb-0">Pellentesque de fermentum mollis comodous an loremous</p>
            <div id="mailchimp-email-subscibe ">
              <div id="mc_embed_signup">  
                <form class="needs-validation" action="#" method="post">
                  <div class="form-row">
                    <div class="form-group mb-0 col-md-6 col-sm-6">
                      <input type="email" name="EMAIL" class="form-control" id="mail" placeholder="Email">             
                    </div>
                    <div class="form-group mb-0 col-md-6 col-sm-6">
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <h2 class="message">SIGN UP FOR EXCLUSIVE UPDATES, NEW ARRIVALS AND INSIDER-ONLY DISCOUNTS</h2>
            <div class="product-socials">
              <ul class="nav-social list-inline list-unstyled">
                <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fa fa-dribbble"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fa fa-behance"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
          
          <div class="right">
            <img src="//cdn.shopify.com/s/files/1/0271/3013/4664/files/popup-newletter.jpg?v=1613687899" class="img-fluid" alt="image popup">
          </div>
          
        </div>
      </div>
    </div>
</section>