<ng-container *ngIf="product">

  <!-- Details page -->
  <div id="snackbar" class="card shadow-lg border-3 rounded-lg ">
    <div class="card-header text-start">
      <i class="fa-solid fa-circle-exclamation"></i>
      <strong class="text-start font-weight-light ms-1"></strong>
    </div>
    <div class="card-body text-center" style="padding: 14px;">
      <a routerLink="/api/card">Go to basket</a>
    </div>
  </div>

  <div id="wrapper" class="container p-3">
    <div class="row">
      <div id="product-cover" class="col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
        <div class="row">
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-end">
            <div id="carouselBasicExample" class="carousel vertical me-2" role="listbox">
              <div class="carousels-inner">
                <div class="carousel-item active">
                  <button class="btn btn-light btn-sm" type="button" data-mdb-target="#carouselBasicExample"
                    data-mdb-slide="prev">
                    <i class="fas fa-chevron-up fa-align-center"></i>
                  </button>
                  <div *ngFor="let storage of product.storages">
                    <div class="multi-carousel-item my-2 product-links-wap">
                      <a href="#">
                        <img src="{{storage.fileUrl}}" alt="Resource not found" style="width:43px;height:43px" />
                      </a>
                    </div>
                  </div>
                  <button class="btn btn-light btn-sm" tabindex="0" type="button"
                    data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
                    <i class="fas fa-chevron-down fa-align-center"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="card">
              <img class="card-img img-fluid" src="{{product.storages[0].fileUrl}}" alt="Resource not found"
                id="product-cover-img">

            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <ul class="list-group list-group-light align-items-center">
              <li class="list-inline-item">
                <h4 class="product-title ">{{product.productName}}</h4>
              </li>
              <li class="list-inline-item">
                <del class="enj-product-price-compare d-inline">{{((product.unitSellPrice * product.unitDiscount) / 100
                  +
                  product.unitSellPrice).toFixed(2)}} Lv.</del>
                <ins class="enj-product-price engoj_price_main">{{product.unitSellPrice.toFixed(2)}} Lv.</ins>
              </li>

              <!--End Swatch Variant -->
              <!-- Add to cart & quantity -->
              <li class="list-inline-item mt-3">
                <button id="card-btn" name="{{product.productId}}" (click)="onAddToCard($event)" type="submit"
                  class="btn btn-dark btn-rounded" value="Add to Basket">
                  Add to Basket
                </button>
              </li>
              <li class="list-inline-item mt-3">
                <button id="watchlist-btn" name="{{product.productId}}" (click)="onAddToWatchlist($event)" type="submit"
                  class="btn btn-outline-primary btn-rounded" data-mdb-ripple-color="dark" value="Add to Watchlist">
                  <i class="fa fa-heart-o"></i> Add to Watchlist
                </button>
              </li>
              <li class="list-inline-item ">
                <button class="btn btn-outline-dark btn-sm" type="button">-</button>
                <input id="item-quantity" type="number" step="1" min="1" size="5" value="1" title="Qty"
                  class="input-text" inputmode="" name="{{product.productId}}"
                  (click)="onQuantityChange($event, product)">
                <button class="btn btn-outline-dark btn-sm" data-mdb-ripple-color="dark" type="button">+</button>
              </li>
              <!-- End add to cart & quantity -->
              <li class="list-inline-item">
                <hr>
              </li>

              <li class="list-inline-item">
                <p id="product-detail-rate" class="details-rate-view text-center" style="margin: auto;">Rate</p>

                <app-rating [currentRate]="averageRate"></app-rating>
                <span class="list-inline-item text-dark" *ngIf="reviews != null">Rating {{(averageRate / rateCount) ||
                  0}} |
                  {{reviews.length || 0}} Reviews</span>
              </li>
            </ul>

            <ul class="list-group list-group-light align-items-center">
              <!--Check product in or out of stock -->
              <li class="list-inline-item mt-3">
                <label>Availability:</label>
                <span>{{product.productStatus.productStatusName}}</span>
              </li>
              <!--End check -->

              <li class="list-inline-item mt-1">
                <label>Categories:</label>
                <a href="../collections/best-seller.html">{{product.productCategory.productCategoryName}}</a>
              </li>

              <li class="list-inline-item mt-1">
                <label>Share:</label>
                <a href="http://twitter.com/share?text=Flower%20Beautiful%20Simple&amp;url=https://floril-store-demo.myshopify.com/products/flower-beautiful"
                  target="_blank" class="float-shadow"><i class="fa fa-twitter m-2" aria-hidden="true"></i></a>
                <a href="http://www.facebook.com/sharer.php?u=https://floril-store-demo.myshopify.com/products/flower-beautiful"
                  target="_blank" class="float-shadow"><i class="fa fa-facebook m-2" aria-hidden="true"></i></a>
                <a href="../../pinterest.com/pin/create/button/indexb286.html?url=https://floril-store-demo.myshopify.com/products/flower-beautiful&amp;media=http://cdn.shopify.com/s/files/1/0291/8242/7276/products/4_1024x1024.jpg?v=1577700896&amp;description=Flower%20Beautiful%20Simple"
                  target="_blank" class="float-shadow"><i class="fa fa-pinterest-p m-2" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5">
        <div class="card">
          <div class="card-body">
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Category:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>{{product.productCategory.productCategoryName}}</strong></p>
              </li>
            </ul>
            <h6>Description:</h6>
            <p>{{product.productDescription}}</p>

            <h6>Specification:</h6>
            <p>{{product.otherProductDetails}}</p>

            <div class="row list-inline-item">
              <div class="row">
                <div class="col-auto">

                  <ul id="color-options + {{product.productId}}" class="list-inline check-color m-1">
                    <h6>Colors:</h6>
                    <li class="list-inline-item" *ngFor="let color of product.productColor.split(',')">
                      <input class="text-decoration-none" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1"
                        value="color" [style.background]=color />
                    </li>
                  </ul>
                </div>
              </div>
              <input type="hidden" name="product-title" value="Activewear">
              <div class="row">
                <div class="col-auto">
                  <ul class="list-inline list_sizes m-1">
                    <h6>Size:</h6>
                    <li class="list-inline-item m-0" *ngFor="let size of product.productSize.split(',')">
                      <button id="size-select-btn" name="size" type="button"
                        class="btn-outline-dark btn-sm">{{size}}</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Article -->
  <section class="py-5">
    <div class="container text-center my-3">

      <h3>Related products</h3>

      <div class="row mx-auto my-auto justify-content-center">
        <!-- Carousel wrapper -->
        <div id="carousel-related" class="carousel slide carousel-multi-item v-2 carousel-dark text-center"
          data-mdb-ride="carousel">
          <!-- Controls -->
          <div class="d-flex justify-content-center mb-4">
            <button class="carousel-control-prev position-relative" type="button" data-mdb-target="#carousel-related"
              data-mdb-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next position-relative" type="button" data-mdb-target="#carousel-related"
              data-mdb-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- Inner -->
          <div id="carousel-inner-related" class="carousel-inner" role="listbox">

          </div>
          <!-- Inner -->
        </div>
        <!-- Carousel wrapper -->
      </div>
    </div>
    <div id="customer-reviews" class="card-review">
      <div class="d-flex flex-row justify-content-between">
        <div class="flex-column">
          <h3>Ratings and Reviews</h3>
        </div>
        <div class="flex-column">
          <button type="button" name="{{product.productId}}" (click)="onWriteReview($event)" class="btn btn-info">Write
            Review</button>
        </div>
      </div>
      <hr>
      <div class="row my-3">
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="container text-center">
            <h2>{{(averageRate / rateCount).toFixed(1) === null ? (averageRate / rateCount).toFixed(1) : 0}}</h2>
          </div>

          <div id="rating-container" class="rating d-flex justify-content-center">
            <app-rating [currentRate]="averageRate" (outputData)="onRateSelected($event)"></app-rating>

          </div>

          <div class="container text-center">
            <label>{{rateCount}} product ratings</label>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 text-center">

          <div class="d-flex flex-row justify-content-center">
            <div class="flex-column mx-1">☆</div>
            <div class="flex-column mx-1">5</div>

            <div class="flex-column">

              <div class="list-inline-item progress my-2"
                style="height: 14px; width: 200px; border: 1px; border-radius: 5px;">
                <div class="progress-bar bg-info" role="progressbar"
                  [style]='{width: (ratesMap.get("5") / rateCount) * 100 + "%"}' aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div id="rate-star-count" class="flex-column mx-1">{{ratesMap.get('5')}}</div>
          </div>

          <div class="d-flex flex-row justify-content-center">
            <div class="flex-column mx-1">☆</div>
            <div class="flex-column mx-1">4</div>

            <div class="flex-column">

              <div class="list-inline-item progress my-2"
                style="height: 14px; width: 200px; border: 1px; border-radius: 5px;">
                <div class="progress-bar bg-info" role="progressbar"
                  [style]='{width: (ratesMap.get("4") / rateCount) * 100 + "%"}' aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div id="rate-star-count" class="flex-column mx-1">{{ratesMap.get('4')}}</div>
          </div>

          <div class="d-flex flex-row justify-content-center">
            <div class="flex-column mx-1">☆</div>
            <div class="flex-column mx-1">3</div>

            <div class="flex-column">

              <div class="list-inline-item progress my-2"
                style="height: 14px; width: 200px; border: 1px; border-radius: 5px;">
                <div class="progress-bar bg-info" role="progressbar"
                  [style]='{width: (ratesMap.get("3") / rateCount) * 100 + "%"}' aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div id="rate-star-count" class="flex-column mx-1">{{ratesMap.get('3')}}</div>
          </div>

          <div class="d-flex flex-row justify-content-center">
            <div class="flex-column mx-1">☆</div>
            <div class="flex-column mx-1">2</div>

            <div class="flex-column">

              <div class="list-inline-item progress my-2"
                style="height: 14px; width: 200px; border: 1px; border-radius: 5px;">
                <div class="progress-bar bg-info" role="progressbar"
                  [style]='{width: (ratesMap.get("2") / rateCount) * 100 + "%"}' aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div id="rate-star-count" class="flex-column mx-1">{{ratesMap.get('2')}}</div>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="flex-column mx-1">☆</div>
            <div class="flex-column mx-1">1</div>

            <div class="flex-column">

              <div class="list-inline-item progress my-2"
                style="height: 14px; width: 200px; border: 1px; border-radius: 5px;">
                <div class="progress-bar bg-info" role="progressbar"
                  [style]='{width: (ratesMap.get("1") / rateCount) * 100 + "%"}' aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div id="rate-star-count" class="flex-column mx-1">{{ratesMap.get('1')}}</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row my-3">
        <h5>
          Customer reviews
        </h5>
      </div>
      <div *ngFor="let review of reviews">
        <div class="row my-3" *ngIf="reviews !== null">
          <div class="col-lg-1 col-md-3 col-sm-12">
            <li class="list-inline-item">
              <p id="rateList' + {{review.productReviewId}}" class="static-root-rater"
                style="padding: 0px; margin: auto;">
              </p>
            </li>

            <div class="d-inline-flex">
              <p style="font-size: 16px; margin: auto;">by&nbsp;</p>
              <a href="#">{{review.username}}</a>
            </div>
            <p style="font-size: 16px;">{{onReplace(review.publishedAt)}}</p>
          </div>
          <br>
          <div class="col-lg-10 col-md-3 col-sm-12">
            <p id="review-title" style="margin: auto;">{{review.title}}</p>
            <p id="review-content" style="text-align: justify; text-justify: auto;">{{review.content}}</p>

            <div class="d-inline-flex justify-content-between">
              <button type="button" class="btn-sm btn-outline-dark me-3" data-mdb-ripple-color="dark">
                <i class="fa-regular fa-thumbs-up"></i><label>&nbsp;(0)</label>
              </button>
              <button type="button" class="btn-sm btn-outline-dark" data-mdb-ripple-color="dark">
                <i class="fa-regular fa-thumbs-down"></i><label>&nbsp;(0)</label>
              </button>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="d-flex flex-row justify-content-between">
        <div class="flex-column">
          <h5>Customer questions & answers</h5>
        </div>
        <div class="flex-column">
          <button type="button" name="{{product.productId}}" (click)="isAskQuestionCollapsed = ! isAskQuestionCollapsed"
            [attr.aria-expanded]="!isAskQuestionCollapsed" class="btn btn-info" aria-controls="questionCollapse">Ask
            question</button>
        </div>
      </div>
      <div class="container-fluid">
        <div class="collapse" id="questionCollapse" #questionCollapse="ngbCollapse"
          [(ngbCollapse)]="isAskQuestionCollapsed">
          <div class="row justify-content-center">
            <div class="col-lg-12 justify-content-center">
              <div class="question collapse show">
                <form id="form-question" class="question-form" *ngIf="!isSuccessful" name="questionForm"
                  (ngSubmit)="f.form.valid && onAskQuestion()" #f="ngForm" novalidate>
                  <div class="row mb-3">
                    <div class="col-md">
                      <div class="form-group">
                        <label for="inputQuestion" class="form-label accordion-collapse fw-bold">Question</label>
                        <textarea rows="5" type="text" name="question" minlength="3" maxlength="512" required
                          class="form-control" id="inputQuestion" placeholder="Write question..."
                          [(ngModel)]="questionForm.question" #question="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && question.errors }"></textarea>
                        <div class="invalid-feedback" *ngIf="question.errors && f.submitted">
                          <div *ngIf="question.errors['required']">Product question is
                            required</div>
                          <div *ngIf="question.errors['minlength']">
                            Product question must be at least 3 or max 512 characters
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <button class="btn btn-primary" type="submit">Post question</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="questions">
        <div *ngFor="let question of questions">
          <div class="row my-3">
            <div class="col-lg-1 col-md-1 col-sm-12">
              <button type="button" class="btn-sm btn-outline-dark mb-3" data-mdb-ripple-color="dark">
                <i class="fa-regular fa-thumbs-up"></i><label>&nbsp;(0)</label>
              </button>
              <button type="button" class="btn-sm btn-outline-dark" data-mdb-ripple-color="dark">
                <i class="fa-regular fa-thumbs-down"></i><label>&nbsp;(0)</label>
              </button>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
              <div class="d-inline-flex">
                <p style="font-size: 16px;">Question:&nbsp;</p>
                <a href="#answerCollapse{{question.questionId}}" data-mdb-toggle="collapse"
                  name="{{question.questionId}}"
                  aria-controls="answerCollapse${question.questionId}">{{question.question}}</a>
              </div>
              <br>
              <div *ngFor="let answer of question.answers" id={{question.questionId}}>
                <div class="d-inline-flex">
                  <p style="font-size: 16px;">Answer:&nbsp;</p>
                  <p style="font-size: 16px; text-align: justify; text-justify: auto;">
                    {{answer.answer}}
                  </p>
                </div>
                <br>
              </div>
            </div>
            <div class="container-fluid">
              <div class="collapse" id="answerCollapse{{question.questionId}}">
                <div class="row justify-content-center">
                  <div class="col-lg-12 justify-content-center">
                    <div class="answer collapse show">
                      <form id="form-answer" class="answer-form" *ngIf="!isSuccessful" name="questionForm"
                        (ngSubmit)="f.form.valid && onWriteAnswer(question)" #f="ngForm" novalidate>
                        <div class="row mb-3">
                          <div class="col-md">
                            <div class="form-group">
                              <label for="inputAnswer" class="form-label accordion-collapse fw-bold">Answer</label>
                              <textarea rows="5" type="text" name="answer" minlength="3" maxlength="512" required
                                class="form-control" id="inputAnswer" placeholder="Write answer..."
                                [(ngModel)]="answerForm.answer" #answer="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && answer.errors }"></textarea>
                              <div class="invalid-feedback" *ngIf="answer.errors && f.submitted">
                                <div *ngIf="answer.errors['required']">Product answer is
                                  required</div>
                                <div *ngIf="answer.errors['minlength']">
                                  Product answer must be at least 3 or max 512 characters
                                </div>
                              </div>
                              <input hidden name="questionId" value="{{question.questionId}}">
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <button id="answerSubmitBtn" name="{{question.questionId}}" class="btn btn-primary">Post
                            answer</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>