#wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 21px;

}

@media (min-width: 768px) {
    #product-cover {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        height: 400px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    #wrapper {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

@media (max-width: 576px) {
    #product-cover {
        width: 100%;
        height: auto;
    }
}

#item-quantity {
    width: 55px;
    margin: 9px;
}

i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}
.filled {
    color: #1e90ff;
}
.low {
    color: #deb0b0;
}
.filled.low {
    color: #ff1e1e;
}
i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}
.filled {
    color: #1e90ff;
}
.low {
    color: #deb0b0;
}
.filled.low {
    color: #ff1e1e;
}