<div class="contentbody">
  <div id="shopify-section-header" class="shopify-section index-section"><!-- /sections/header.liquid -->

  <div id="shopify-section-1577692067993" class="shopify-section index-section">
    <div data-section-id="1577692067993" data-section-type="section-service-v2" style="  ">
      <div class="container container-v2">
        <div class="section-service- ">
          <div class="slickjs-services-v2 slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable">
              <div class="slick-track" style="opacity: 1; width: 1400px; transform: translate3d(0px, 0px, 0px);"
                role="listbox">
                <div
                  class="text-center itemtservice justify-content-center padding-slick slick-slide slick-current slick-active"
                  data-slick-index="0" aria-hidden="false" style="width: 350px;" tabindex="-1" role="option"
                  aria-describedby="slick-slide10">
                  <div class="box-service ">
                    <div class="number">
                      <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/free_shipping.png?v=1613174685">
                    </div>
                    <div class="info">
                      <h4 class="title">SHIPPING &amp; RETURN</h4>
                      <p class="content">Free shipping all order</p>
                    </div>
                  </div>
                </div>
                <div class="text-center itemtservice justify-content-center padding-slick slick-slide slick-active"
                  data-slick-index="1" aria-hidden="false" style="width: 350px;" tabindex="-1" role="option"
                  aria-describedby="slick-slide11">
                  <div class="box-service ">
                    <div class="number">
                      <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/support247.png?v=1613174686">
                    </div>
                    <div class="info">
                      <h4 class="title">SUPPORT 24/7</h4>
                      <p class="content">Support 24 hours a day</p>
                    </div>
                  </div>
                </div>
                <div class="text-center itemtservice justify-content-center padding-slick slick-slide slick-active"
                  data-slick-index="2" aria-hidden="false" style="width: 350px;" tabindex="-1" role="option"
                  aria-describedby="slick-slide12">
                  <div class="box-service ">
                    <div class="number">
                      <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/money_back.png?v=1613174686">
                    </div>
                    <div class="info">
                      <h4 class="title">MONEY RETURN</h4>
                      <p class="content">30 days for free return</p>
                    </div>
                  </div>
                </div>
                <div class="text-center itemtservice justify-content-center padding-slick slick-slide slick-active"
                  data-slick-index="3" aria-hidden="false" style="width: 350px;" tabindex="-1" role="option"
                  aria-describedby="slick-slide13">
                  <div class="box-service ">
                    <div class="number">
                      <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/free_shipping.png?v=1613174685">
                    </div>
                    <div class="info">
                      <h4 class="title">SHIPPING &amp; RETURN</h4>
                      <p class="content">We'll even pay shipping.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="shopify-section-1577691978604" class="shopify-section">
    <div data-section-id="1577691978604" data-section-type="section-banner-v5" style=" ">
      <div id="trends_section" class="section-banner-v5 mt-all">
        <div class="container container-v1">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="box-info left">
                <div class="box-img">
                  
                  <a href="/collections/all"><img
                      src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/banner-v5-1.jpg?v=1613174689"
                      class="img-fluid"></a>
                </div>
                <div class="content-banner">
                  <h3 class="title mb-0">The Edit: Autumn Jackets</h3>
                  <div class="info-bottom">
                    <a mat-flat-button href="/collections/all">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="box-info right">
                <div class="box-img">
                  <a href="/collections/all"><img
                      src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/banner-v5-2.jpg?v=1613174689"
                      class="img-fluid"></a>
                </div>
                <div class="content-banner">
                  <h3 class="title mb-0">Bella Freud Collection</h3>
                  <div class="info-bottom">
                    <a mat-flat-button href="/collections/all">Shop now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="shopify-section-1577692168744" class="shopify-section">
    <div data-section-id="1577692168744" data-section-type="section-product-v2" style=" ">
      <div class="section-product-v2 mt-all">
        <div class="container container-v2">
          <div class="text-center title-product-v2">
            <h3 class="block-title">Trending</h3>
          </div>
          <div class="row product_best_sell engoc-row-equal">
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-14" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/pr-1.jpg?v=1577756717"
                        class="img-responsive" alt="Flower Beautiful">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/11_ea9d96f2-3eaf-4fc1-9ff5-fabb3e3b82d5.jpg?v=1577756729"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful">
                    </a>
                    <!--     label product -->
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <a href="/products/flower-beautiful-14"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Select Option">
                          <i class="ti-more-alt"></i>
                        </a>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-14" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-14">Flower Beautiful</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <span class="price">$250.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                      <span class="">
                        <a class="circle" href="javascript:void(0)"
                          data-engojvariant-img="//cdn.shopify.com/s/files/1/0291/8242/7276/products/pr-1_grande.jpg?v=1577756717"
                          style="background-color: yellow;"></a>
                      </span>
                      <span class="">
                        <a class="circle" href="javascript:void(0)"
                          data-engojvariant-img="//cdn.shopify.com/s/files/1/0291/8242/7276/products/11_ea9d96f2-3eaf-4fc1-9ff5-fabb3e3b82d5_grande.jpg?v=1577756729"
                          style="border: 1px solid #bcbcbc; background-color: white;"></a>
                      </span>
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-pink" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/1.jpg?v=1577699457"
                        class="img-responsive" alt="Flower Beautiful Pink Variable">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/2.jpg?v=1577699491"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful Pink Variable">
                    </a>
                    <!--     label product -->
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <a href="/products/flower-beautiful-pink"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Select Option">
                          <i class="ti-more-alt"></i>
                        </a>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-pink" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-pink">Flower Beautiful Pink Variable</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <span class="price">$150.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                      <span class="">
                        <a class="circle" href="javascript:void(0)"
                          data-engojvariant-img="//cdn.shopify.com/s/files/1/0291/8242/7276/products/1_grande.jpg?v=1577699457"
                          style="background-color: deeppink;"></a>
                      </span>
                      <span class="">
                        <a class="circle" href="javascript:void(0)"
                          data-engojvariant-img="//cdn.shopify.com/s/files/1/0291/8242/7276/products/3_grande.jpg?v=1577699491"
                          style="background-color: yellow;"></a>
                      </span>
                      <span class="">
                        <a class="circle" href="javascript:void(0)"
                          data-engojvariant-img="//cdn.shopify.com/s/files/1/0291/8242/7276/products/2_grande.jpg?v=1577699491"
                          style="background-color: lightsalmon;"></a>
                      </span>
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-13" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/16_31a78afc-447e-474c-8225-a515a44d5436.jpg?v=1577701546"
                        class="img-responsive" alt="Flower Beautiful">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/18_01b05c0f-cbee-4297-932a-e91e47307908.jpg?v=1577701546"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful">
                    </a>
                    <!--     label product -->
                    <figure style="background : #ff4949; color: #ffffff"
                      class="absolute uppercase label-sale text-center">
                      Sale
                    </figure>
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <form method="post" action="/cart/add" enctype="multipart/form-data"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Add to Cart">
                          <input type="hidden" name="id" value="31490875195532">
                          <button type="submit" name="add" class="enj-add-to-cart-btn ">
                            <i class="icon-icon-cart" style="font-size: 22px;"></i>
                          </button>
                        </form>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-13" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-13">Flower Beautiful</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <s class="price-old">$205.00</s>
                      <span class="price">$200.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-12" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/19_45f35e52-877b-4985-88a3-5588d8ebba0d.jpg?v=1577701521"
                        class="img-responsive" alt="Flower Beautiful Video">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/11_5448b2d3-4dad-40ff-9773-fb8d2bc48584.jpg?v=1577701521"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful Video">
                    </a>
                    <!--     label product -->
                    <figure style="background : #ff4949; color: #ffffff"
                      class="absolute uppercase label-sale text-center">
                      Sale
                    </figure>
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <form method="post" action="/cart/add" enctype="multipart/form-data"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Add to Cart">
                          <input type="hidden" name="id" value="31490869526668">
                          <button type="submit" name="add" class="enj-add-to-cart-btn ">
                            <i class="icon-icon-cart" style="font-size: 22px;"></i>
                          </button>
                        </form>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-12" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-12">Flower Beautiful Video</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <s class="price-old">$205.00</s>
                      <span class="price">$200.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-11" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/11_8dcbaa94-3b38-4f4b-a715-b19d7a68c28f.jpg?v=1577701424"
                        class="img-responsive" alt="Flower Beautiful">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/13_bc1c42eb-1b1a-4632-a763-6f4a355c4452.jpg?v=1577701424"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful">
                    </a>
                    <!--     label product -->
                    <figure style="background : #ff4949; color: #ffffff"
                      class="absolute uppercase label-sale text-center">
                      Sale
                    </figure>
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <form method="post" action="/cart/add" enctype="multipart/form-data"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Add to Cart">
                          <input type="hidden" name="id" value="31490855796876">
                          <button type="submit" name="add" class="enj-add-to-cart-btn ">
                            <i class="icon-icon-cart" style="font-size: 22px;"></i>
                          </button>
                        </form>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-11" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-11">Flower Beautiful</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <s class="price-old">$205.00</s>
                      <span class="price">$200.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-10" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/17_226ba353-cddb-4d5d-be25-c088d4d72804.jpg?v=1577701393"
                        class="img-responsive" alt="Flower Beautiful">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/19_981db553-ad92-444c-bfe2-438955db6961.jpg?v=1577701393"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful">
                    </a>
                    <!--     label product -->
                    <figure style="background : #ff4949; color: #ffffff"
                      class="absolute uppercase label-sale text-center">
                      Sale
                    </figure>
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <form method="post" action="/cart/add" enctype="multipart/form-data"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Add to Cart">
                          <input type="hidden" name="id" value="31490851733644">
                          <button type="submit" name="add" class="enj-add-to-cart-btn ">
                            <i class="icon-icon-cart" style="font-size: 22px;"></i>
                          </button>
                        </form>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-10" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-10">Flower Beautiful</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <s class="price-old">$205.00</s>
                      <span class="price">$200.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-9" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/7.jpg?v=1577701354"
                        class="img-responsive" alt="Flower Beautiful Affiliate">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/9_d3e68148-d3f6-41a4-8d26-4d5c43e8e583.jpg?v=1577701354"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful Affiliate">
                    </a>
                    <!--     label product -->
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <a href="/products/flower-beautiful-9"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Select Option">
                          <i class="ti-more-alt"></i>
                        </a>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-9" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-9">Flower Beautiful Affiliate</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <span class="price">$400.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                      <span class="">
                        <a class="circle" href="javascript:void(0)"
                          data-engojvariant-img="//cdn.shopify.com/s/files/1/0291/8242/7276/products/7_grande.jpg?v=1577701354"
                          style="background-color: darkolivegreen;"></a>
                      </span>
                      <span class="">
                        <a class="circle" href="javascript:void(0)"
                          data-engojvariant-img="//cdn.shopify.com/s/files/1/0291/8242/7276/products/8_5b9032d6-c20a-45b6-b439-063f932dd208_grande.jpg?v=1577701354"
                          style="background-color: deeppink;"></a>
                      </span>
                      <span class="">
                        <a class="circle" href="javascript:void(0)"
                          data-engojvariant-img="//cdn.shopify.com/s/files/1/0291/8242/7276/products/9_d3e68148-d3f6-41a4-8d26-4d5c43e8e583_grande.jpg?v=1577701354"
                          style="background-color: lightskyblue;"></a>
                      </span>
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-8" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/6_c1e27b22-2167-498c-9aea-01e48a49d97e.jpg?v=1577701254"
                        class="img-responsive" alt="Flower Beautiful">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/14_d2e929ca-ba18-4c1a-9560-e3c55eda06d3.jpg?v=1577701254"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful">
                    </a>
                    <!--     label product -->
                    <figure style="background : #ff4949; color: #ffffff"
                      class="absolute uppercase label-sale text-center">
                      Sale
                    </figure>
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <form method="post" action="/cart/add" enctype="multipart/form-data"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Add to Cart">
                          <input type="hidden" name="id" value="31490835611788">
                          <button type="submit" name="add" class="enj-add-to-cart-btn ">
                            <i class="icon-icon-cart" style="font-size: 22px;"></i>
                          </button>
                        </form>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-8" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-8">Flower Beautiful</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <s class="price-old">$205.00</s>
                      <span class="price">$200.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-lg-4 col-6 col-md-4">
              <div class="product-item-v1">
                <div class="product mb-30 engoj_grid_parent relative">
                  <div class="img-product relative">
                    <a href="/products/flower-beautiful-7" class="engoj_find_img">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/20_6ea0e67e-3380-40a0-8003-92e0c965c36a.jpg?v=1577701285"
                        class="img-responsive" alt="Flower Beautiful">
                      <img style="width: 100%"
                        src="//cdn.shopify.com/s/files/1/0291/8242/7276/products/18_201b49ef-c8b4-4d0f-add8-28c06a002437.jpg?v=1577701285"
                        class="img-responsive absolute img-product-hover" alt="Flower Beautiful">
                    </a>
                    <!--     label product -->
                    <figure style="background : #ff4949; color: #ffffff"
                      class="absolute uppercase label-sale text-center">
                      Sale
                    </figure>
                    <!--     END LABEL -->
                    <!--     ICON PRODUCT -->
                    <div class="product-icon-action">
                      <div class="add-wishlist">
                        <a href="/account/login"
                          class="box-shadow icon-heart inline-block maxus-product__wishlist wish text-center"
                          data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">
                          <i class="fa fa-heart-o "></i>
                        </a>
                      </div>
                      <div class="add-to-cart">
                        <form method="post" action="/cart/add" enctype="multipart/form-data"
                          class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip"
                          data-placement="top" data-original-title="Add to Cart">
                          <input type="hidden" name="id" value="31490825617548">
                          <button type="submit" name="add" class="enj-add-to-cart-btn ">
                            <i class="icon-icon-cart" style="font-size: 22px;"></i>
                          </button>
                        </form>
                      </div>
                      <div class="quick-view">
                        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow"
                          data-id="flower-beautiful-7" data-toggle="tooltip" data-placement="top"
                          data-original-title="Quickview">
                          <i class="ti-search"></i>
                        </a>
                      </div>
                    </div>
                    <!--     END ICON -->
                    <!--     SOLD OUT -->
                    <!-- END SOLD OUT     -->
                  </div>
                  <div class="info-product">
                    <h4 class="des-font capital title-product mb-0 flex">
                      <a href="/products/flower-beautiful-7">Flower Beautiful</a>
                    </h4>
                    <!--     PRICE -->
                    <p class="price-product">
                      <s class="price-old">$205.00</s>
                      <span class="price">$200.00</span>
                    </p>
                    <!-- END PRODUCT     -->
                    <!-- VARIANT PRODUCT -->
                    <nav class="engoj_select_color">
                    </nav>
                    <!-- END VARIANT     -->
                    <!--     THUMBNAIL PRODUCT -->
                    <!-- END THUMBNAIL     -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="shopify-section-1577430045771" class="shopify-section index-section">
    <div data-section-id="1577430045771" data-section-type="section-intagram-v1" style="  ">
      <div class="section-intagram-v1 mt-all">
        <div class="container container-v1">
          <div class="box-all-item" style="background-color:#f8dae4;">
            <div class="box-intargram">
              <div class="">
                <div class=" justify-content-center" id="engoj_instagramv1">
                  <div class="box-img">
                    <div class="picture text-center">
                      <a href="https://www.instagram.com/">
                        <img class="w-100"
                          src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/intagram1.jpg?v=10386710823034598695"
                          alt="instagram">
                      </a>
                    </div>
                    <div class="content-intagram text-center">
                      <a href="https://www.instagram.com/" class="ti-instagram"></a>
                      <h4 class="mb-0">Shop it</h4>
                    </div>
                  </div>
                  <div class="box-img">
                    <div class="picture text-center">
                      <a href="https://www.instagram.com/">
                        <img class="w-100"
                          src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/intagram2.jpg?v=8540531343970435963"
                          alt="instagram">
                      </a>
                    </div>
                    <div class="content-intagram text-center">
                      <a href="https://www.instagram.com/" class="ti-instagram"></a>
                      <h4 class="mb-0">Shop it</h4>
                    </div>
                  </div>
                  <div class="box-img">
                    <div class="picture text-center">
                      <a href="https://www.instagram.com/">
                        <img class="w-100"
                          src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/intagram3.jpg?v=4585944141398299902"
                          alt="instagram">
                      </a>
                    </div>
                    <div class="content-intagram text-center">
                      <a href="https://www.instagram.com/" class="ti-instagram"></a>
                      <h4 class="mb-0">Shop it</h4>
                    </div>
                  </div>
                  <div class="box-img">
                    <div class="picture text-center">
                      <a href="https://www.instagram.com/">
                        <img class="w-100"
                          src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/intagram4.jpg?v=6976309643591770537"
                          alt="instagram">
                      </a>
                    </div>
                    <div class="content-intagram text-center">
                      <a href="https://www.instagram.com/" class="ti-instagram"></a>
                      <h4 class="mb-0">Shop it</h4>
                    </div>
                  </div>
                  <div class="box-img">
                    <div class="picture text-center">
                      <a href="https://www.instagram.com/">
                        <img class="w-100"
                          src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/intagram5.jpg?v=16128567257505255100"
                          alt="instagram">
                      </a>
                    </div>
                    <div class="content-intagram text-center">
                      <a href="https://www.instagram.com/" class="ti-instagram"></a>
                      <h4 class="mb-0">Shop it</h4>
                    </div>
                  </div>
                  <div class="box-img">
                    <div class="picture text-center">
                      <a href="https://www.instagram.com/">
                        <img class="w-100"
                          src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/intagram6.jpg?v=9030747766947544856"
                          alt="instagram">
                      </a>
                    </div>
                    <div class="content-intagram text-center">
                      <a href="https://www.instagram.com/" class="ti-instagram"></a>
                      <h4 class="mb-0">Shop it</h4>
                    </div>
                  </div>
                  <div class="box-img">
                    <div class="picture text-center">
                      <a href="https://www.instagram.com/">
                        <img class="w-100"
                          src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/intagram7.jpg?v=12211931996191677240"
                          alt="instagram">
                      </a>
                    </div>
                    <div class="content-intagram text-center">
                      <a href="https://www.instagram.com/" class="ti-instagram"></a>
                      <h4 class="mb-0">Shop it</h4>
                    </div>
                  </div>
                  <div class="box-img">
                    <div class="picture text-center">
                      <a href="https://www.instagram.com/">
                        <img class="w-100"
                          src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/intagram8.jpg?v=1069204779693783543"
                          alt="instagram">
                      </a>
                    </div>
                    <div class="content-intagram text-center">
                      <a href="https://www.instagram.com/" class="ti-instagram"></a>
                      <h4 class="mb-0">Shop it</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- END content_for_index -->
  <div id="shopify-section-footer" class="shopify-section index-section"><!-- /sections/footer.liquid -->
    <footer class="footer_v1">
      <div class="top-footer"
        style="background-image: url(//cdn.shopify.com/s/files/1/0291/8242/7276/files/bg_footer.jpg?v=1613175257)">
        <div class="container container-v2">
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <div class="info_footer">
                <div class="title_footer">
                  <h4 class="mb-0 title_border">INFORMATION</h4>
                </div>
                <ul class="list-unstyled mb-0">
                  <li><a href="/" title="Help">Help</a></li>
                  <li><a href="/" title="Track Order">Track Order</a></li>
                  <li><a href="/" title="Delivery &amp; Returns">Delivery &amp; Returns</a></li>
                  <li><a href="/" title="10% Student Discount">10% Student Discount</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="info_footer">
                <div class="title_footer">
                  <h4 class="mb-0 title_border">About us</h4>
                </div>
                <ul class="list-unstyled mb-0">
                  <li><a href="/" title="Help Center">Help Center</a></li>
                  <li><a href="/" title="Store Locations">Store Locations</a></li>
                  <li><a href="/" title="Registry">Registry</a></li>
                  <li><a href="/" title="Privacy Policy">Privacy Policy</a></li>
                  <li><a href="/" title="Terms of Service">Terms of Service</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-4">
              <div class="info_footer">
                <div class="title_footer">
                  <h4 class="mb-0 title_border">Categories</h4>
                </div>
                <ul class="list-unstyled mb-0">
                  <li><a href="/search" title="Sitemap">Sitemap</a></li>
                  <li><a href="/pages/contact-us" title="Contact Us">Contact Us</a></li>
                  <li><a href="/" title="Support Center">Support Center</a></li>
                  <li><a href="/" title="Delivery &amp; Returns">Delivery &amp; Returns</a></li>
                  <li><a href="/" title="Investors Site">Investors Site</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-12">
              <div class="info_footer end">
                <div class="title_footer">
                  <h4 class="mb-0">The good stuff in your inbox</h4>
                </div>
                <p class="mb-0 content_footer">News &amp; updates from FlorilStore.<br>No spam, we promise.</p>
                <form class="needs-validation form-inline" action="#" method="post">
                  <div class="form-group">
                    <input type="email" name="EMAIL" class="form-control" placeholder="Enter your email...">
                  </div>
                  <button class="btn" type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <div class="list-icon">
                  <ul class="list-inline list-unstyled mb-0">
                    <li class="list-inline-item">
                      <a href="" title="" target="_blank" class="social-item"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" title="" target="_blank" class="social-item"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" title="" target="_blank" class="social-item"><i class="fa fa-behance"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="" title="" target="_blank" class="social-item"><i class="fa fa-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container container-v2">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 text-lg-left text-md-left">
              <p class="text-copyright mb-0">Website by <a href="http://engotheme.com/" target="_blank">EngoTheme</a>.
                Copyright Floril</p>
            </div>
            <div class="col-lg-6 col-md-6 text-lg-right text-md-right">
              <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/pay-home5.png?v=1613175257" alt="">
            </div>
          </div>
        </div>
      </div>
    </footer>
    <style>
      .footer_v1 .top-footer {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .footer_v1 .copyright {
        background-color: #000;
      }
    </style>
  </div>
  <div id="back-to-top" class="one show">
    <i class="ti-angle-up"></i>
  </div>
</div>