<div class="category-content">
  <div id="service-container" class="service-section">

    <div class="service-item" data-slick-index="0" aria-hidden="false" style="width: 350px;" tabindex="-1" role="option"
      aria-describedby="slick-slide10">
      <div class="number">
        <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/free_shipping.png?v=1613174685">
      </div>
      <div class="info">
        <h4 class="title">SHIPPING &amp; RETURN</h4>
        <p class="content">Free shipping all order</p>
      </div>
    </div>
    <div class="service-item" data-slick-index="1" aria-hidden="false" style="width: 350px;" tabindex="-1" role="option"
      aria-describedby="slick-slide11">
      <div class="number">
        <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/support247.png?v=1613174686">
      </div>
      <div class="info">
        <h4 class="title">SUPPORT 24/7</h4>
        <p class="content">Support 24 hours a day</p>
      </div>
    </div>
    <div class="service-item" data-slick-index="2" aria-hidden="false" style="width: 350px;" tabindex="-1" role="option"
      aria-describedby="slick-slide12">
      <div class="number">
        <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/money_back.png?v=1613174686">
      </div>
      <div class="info">
        <h4 class="title">MONEY RETURN</h4>
        <p class="content">30 days for free return</p>
      </div>
    </div>
    <div class="service-item" data-slick-index="3" aria-hidden="false" style="width: 350px;" tabindex="-1" role="option"
      aria-describedby="slick-slide13">
      <div class="number">
        <img src="//cdn.shopify.com/s/files/1/0291/8242/7276/files/free_shipping.png?v=1613174685">
      </div>
      <div class="info">
        <h4 class="title">SHIPPING &amp; RETURN</h4>
        <p class="content">We'll even pay shipping.</p>
      </div>
    </div>

  </div>
  <div class="product-categories">
    <div class="category-card" *ngFor="let productCategory of productCategories">
      <div class="category-content" [ngStyle]="{background: 'url(' + productCategory.storage.fileUrl + ')'}">
        <div class="mask">
          <div class="category-info">
            <h1 class="category-title">{{productCategory.productCategoryName}}</h1>
            <h3>{{productCategory.productCategoryDescription}}</h3>
            <div>
              <input type="button" class="btn btn-outline-light" href="/collections/all" 
              name= {{productCategory.productCategoryName}} (click)="showNowBtn($event)"value="Shop now">
            </div>
          </div>
        </div>
      </div>
      <div class="category-info-bottom">
        <input type="button" class="btn btn-outline-light" href="/collections/all" value="Shop now">
      </div>
    </div>
  </div>
  <carousel-horizontal-slider [sliderProducts] = "products"></carousel-horizontal-slider>
</div>