<div class="suppliers-container">
    <div class="supplier-card" *ngFor="let supplier of suppliers ">
        <div class="card-body">
            <div class="mask"></div>
            <div class="card-image">        
                <a [routerLink]="['/products/', supplier.supplierId]">   
                    <img src="{{supplier.companyLogo.fileUrl}}" class="card-img-top" alt="Failed to load image" />            
                </a>
            </div>
            <div class="card-content">
                <a [href]="'{{supplier.webSite}}'">
                    <h6 class="card-title">{{supplier.webSite}}</h6>
                </a>
                <h3>{{supplier.companyName}}</h3>
                <button id="card-btn" type="button" name={{supplier.supplierId}} (click)="selectSupplier($event, supplier)"
                    class="btn btn-primary rounded-0" value="Add">
                    Add 
                </button>
            </div>
        </div>
    </div>
    <div class="add-supplier">
        <button type="button" class="btn btn-primary btn-lg" (click) = "addNewSupplier()">+</button>
    </div>
</div>

<div class="add-supplier">
    <button type="button" class="btn btn-primary btn-lg" (click)="backBtn()"><< Back</button>

</div>