.card-section .card-dialog {
    display: flex;
    flex-direction: column;

}
.card-section .card-dialog .card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.card-section .card-dialog .card-header > button {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 16px;
    box-shadow: 0 8px 3px 0 rgba(0, 0, 0, 0.2);

}
.card-section .card-dialog .card-body{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    gap: 55px;
    padding: 21px;

}

 td {
    flex-grow: 1;
}
input {
  width: 55px;
}
.card-section .card-dialog .card-body .table-responsive {
    width: 60%;
    flex-grow: 1;
}
.card-section .card-dialog .card-body .summary-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-section .card-dialog .card-body .summary-container .summary-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-section .card-dialog .card-content{
    display: flex;
    flex-direction: row;


}
@media (max-width: 991px) { 
    .card-section .card-dialog .card-body{
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 55px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .card-section .card-dialog .card-body .table-responsive{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .card-section .card-dialog .card-body .summary-container{
        width: 100%;
    }
}
