#footer-container{
    width: 100%;
    position: relative;
    margin: 0 auto;;
    padding: 0px;
    bottom: 0;
    
}
.mask-footer {
    backdrop-filter: blur(5px);
    background-color: rgba(2, 2, 2, 0.779);
    width: 100%;

}
#top-footer {

    background-image: url('/assets/img/slideshow/happy-mothers-day-2840743_1920.jpg');
    object-fit:cover;
    margin: 0px;
    padding: 0px;
}