<section id="product-card-section">
    <div class="card-container">
        <div *ngFor="let product of products">
            <div class="card-product">
                <div class="card-image">
                    <a [routerLink]="['/api/products/', product.productId]">
                        <img [src]="product.storages[0].fileUrl || url" *ngIf="product.storages[0].fileUrl || url"
                            alt="Resource not found" class="card-img-top" alt="Failed to load image" />
                    </a>
                </div>

                <div class="card-body">
                    <a [routerLink]="['/api/products/', product.productId]">
                        <h5 class="card-title">{{product.productName}}</h5>
                    </a>
                    <!-- <p class="card-text">{{product.productDescription}}</p> -->

                    <ul class="list-inline m-1">
                        <li class="list-inline-item">
                            <h6>Price :</h6>
                        </li>
                        <li class="list-inline-item">
                            <h6>{{product.unitSellPrice}}</h6>
                        </li>
                    </ul>

                    <ul id="color-options + {{product.productId}}" class="list-inline check-color m-1"
                        *ngIf="product.productColor != null">
                        <li class="list-inline-item">
                            <h6>Colors:</h6>
                        <li class="list-inline-item" *ngFor="let color of product.productColor.split(',')">
                            <input class="text-decoration-none" type="checkbox" name="flexRadioDefault"
                                id="flexRadioDefault1" value="color" [style.background]=color />
                        </li>
                    </ul>
                    <ul class="list-inline list_sizes m-1" *ngIf="product.productColor != null">
                        <li class="list-inline-item">
                            <h6 class="sizes">Sizes:</h6>
                        <li class="list-inline-item m-0" *ngFor="let size of product.productSize.split(',')">
                            <button id="size-select-btn" name="size" type="button"
                                class="btn-outline-dark btn-sm">{{size}}</button>
                        </li>
                        <li class="list-inline-item">
                            <input type="hidden" name="product-size" id="product-size" value="S">
                        </li>


                    </ul>

                    <!-- /.product-categories -->

                    <li class="list-inline">
                        <hr>
                    </li>
                    <ul class="list-inline d-flex justify-content-center  m-1">
                        <li class="list-inline-item">
                            <h6>Share :</h6>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://twitter.com/share?text=Flower%20Beautiful%20Simple&amp;url=https://floril-store-demo.myshopify.com/products/flower-beautiful"
                                target="_blank" class="float-shadow"><i class="fa fa-twitter me-2"
                                    aria-hidden="true"></i></a>
                            <a href="http://www.facebook.com/sharer.php?u=https://floril-store-demo.myshopify.com/products/flower-beautiful"
                                target="_blank" class="float-shadow"><i class="fa fa-facebook me-2"
                                    aria-hidden="true"></i></a>
                            <a href="../../pinterest.com/pin/create/button/indexb286.html?url=https://floril-store-demo.myshopify.com/products/flower-beautiful&amp;media=http://cdn.shopify.com/s/files/1/0291/8242/7276/products/4_1024x1024.jpg?v=1577700896&amp;description=Flower%20Beautiful%20Simple"
                                target="_blank" class="float-shadow"><i class="fa fa-pinterest-p me-2"
                                    aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex justify-content-center m-1">
                        <li>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-warning fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                            <i class="text-muted fa fa-star"></i>
                        </li>
                    </ul>
                    <ul class="list-unstyled d-flex justify-content-center m-1">
                        <span class="list-inline-item text-dark ms-3">Rating 4.8 | 36 Comments</span>

                    </ul>
                </div>
                <div class="card-footer m-0">

                    <button id="card-btn" type="button" name={{product.productId}} (click)="onAddToCard($event)"
                        class="btn btn-primary rounded-0" value="Add to Card">
                        Add to Card
                    </button>

                    <button id="watchlist-btn" type="button" name="${product.productId}"
                        (click)="onAddToWatchlist($event)" class="btn btn-info rounded-0" data-mdb-ripple-color="dark"
                        value="Watchlist">
                        <i class="fa fa-heart-o"></i> Watchlist
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>