<ng-container>
    <div class="card-container">
        <div *ngFor="let product of products">
            <div class="card-product">
                <div class="card-image">
                    <a [routerLink]="['/api/products/', product.productId]">
                        <img *ngIf="product.storages[0] !== undefined" [src]="product.storages[0].fileUrl || url"
                            alt="Resource not found" class="card-img-top" alt="Failed to load image" />
                        <img *ngIf="product.storages[0] === undefined" [src]="url" alt="Resource not found"
                            class="card-img-top" alt="Failed to load image" />
                    </a>
                    <button id="watchlist-btn" type="button" name="${product.productId}"
                        (click)="onAddToWatchlist($event)" class="btn btn-outline-warning btn-watch-list">
                        <i class="fa fa-heart"></i>
                    </button>
                </div>

                <div class="card-body">
                    <a [routerLink]="['/api/products/', product.productId]">
                        <strong class="card-title">{{product.productName}}</strong>
                    </a>
                    <!-- <p class="card-text">{{product.productDescription}}</p> -->

               
                    <div class="product-options">
                        <div class="product-color check-color" id="color-options + {{product.productId}}"
                            *ngIf="product.productColor != null">
                                <strong>Colors: </strong>
                            <div class="color-list" *ngFor="let color of product.productColor.split(',')">
                                <input class="text-decoration-none" type="checkbox" name="flexRadioDefault"
                                    id="flexRadioDefault1" value="color" [style.background]=color />
                            </div>
                        </div>
                        <div class="product_size" *ngIf="product.productSize != null">
                            <strong>Sizes:</strong>
                            <div class="product-size-list" *ngFor="let size of product.productSize.split(',')">
                                <button id="size-select-btn" name="size" type="checkbox"
                                    class="btn-outline-dark btn-sm">{{size}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="product-rate">
                        <app-rating [currentRate]="updateProductRate(product.productRates)"
                            (outputData)="onRateSelected($event)"></app-rating>

                    </div>
                    <div class="product-price">
                        <h5>{{product.unitSellPrice}} &euro;</h5>
                    </div>
                    <button id="card-btn" type="button" name={{product.productId}} (click)="onAddToCard($event)"
                        class="btn" value="Add to Card">
                        Add to Card
                    </button>
                </div>
                <div class="card-footer">
                    <a href="http://twitter.com/share?text=Flower%20Beautiful%20Simple&amp;url=https://floril-store-demo.myshopify.com/products/flower-beautiful"
                        target="_blank" class="float-shadow"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="http://www.facebook.com/sharer.php?u=https://floril-store-demo.myshopify.com/products/flower-beautiful"
                        target="_blank" class="float-shadow"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="../../pinterest.com/pin/create/button/indexb286.html?url=https://floril-store-demo.myshopify.com/products/flower-beautiful&amp;media=http://cdn.shopify.com/s/files/1/0291/8242/7276/products/4_1024x1024.jpg?v=1577700896&amp;description=Flower%20Beautiful%20Simple"
                        target="_blank" class="float-shadow"><i class="fa fa-pinterest-p"
                            aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</ng-container>