/*
Custom Css
*/


/*
// Start Product Card Styling
*/

.card-container {

    display: flex;
    margin: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.card-product {
    width: 340px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
 
}

/* On mouse-over, add a deeper shadow */
.card-product:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-product .card-image {
    flex: 1 1 0;
}

.card-product .card-image img {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.card-product .card-body {
    background-color: #f3f3f3;
    flex: 1 1 0;
}

.card-product .card-footer {

    margin: 0px;
    padding: 0px;
    display: flex;
    border-radius: 0 0 5px 5px;
}

.card-product .card-footer>button {
    flex: 1 1 0px
}

#card-btn {
    border-radius: 0 0 0 5px !important;
}

#watchlist-btn {
    border-radius: 0 0 5px 0 !important;
}

.card-product .card-body .list_color li input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.card-product .card-body .list_color li a {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
}

.card-product .card-body .list_color li a:before {
    content: "";
    border: 1px solid #ccc;
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: all 0.3s ease;
}

/* Landscape screen */
@media (max-height:428px) {
    .card-product {
        width: 100%;
        flex-flow: row wrap;
    }

    .card-product .card-image {
        display: flex;
        flex: 1;
    }


    .card-product .card-image img {
        border-radius: 5px 5px 0 0;
        object-fit: cover;
    }

    .card-product .card-body {
        border-radius: 0 5px 0 0 !important;
        flex: 2;
    }
    .card-product .card-footer {
        width: 100%;
        margin: 0px;
        padding: 0px;
        flex: 1 1 auto;
        border-radius: 0 0 5px 5px;
    }
}

/*
// End Product Card Styling
*/


/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.171);
}

.mask-footer {
    backdrop-filter: blur(5px);
    background-color: rgba(2, 2, 2, 0.90);
}


.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
}

/*
// Dropdown menu
*/
@media (max-width:500px) {
    #main-nav {
        flex-direction: column;
    }
}

@media (min-width:501px) {


    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 14px;
    }

    .dropdown-menu {
        display: block;
        background: rgba(255, 255, 255, .5);
        position: absolute;
        opacity: 0;
        transition: .5s;
    }

    #dropdown-menu-large {
        background-image: url('/assets/img/slideshow/pexels-evie-shaffer-2395243.jpg');
        background-color: #fff;
        min-width: 500px;
        padding-left: 14px;

        height: auto;
        box-shadow: 0 2px 10px -2px #0000004d;
        border-radius: 0;
        border: none;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 1;
    }
}

.carousel-inner .carousel-item {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.carousel-inner .carousel-item>img {
    background-position: center center;
    position: absolute;

    animation: grow 6s linear forwards;
}

@keyframes grow {

    0%,
    20% {
        transform: scale(1.3);
    }

    75%,
    100% {
        transform: scale(1);
    }
}

.carousel-inner .carousel-item .carousel-caption {
    padding-bottom: 250px;
}

.carousel-inner .carousel-item .carousel-caption>h5 {
    font-size: 50px;
    text-transform: uppercase;
}

/* .carousel-inner>.carousel-item>img,
.carousel-inner>.carousel-item>a>img {
    max-height: 600px;
    position: absolute;
} */
/* Set slide height here

} */

@media (max-width: 501px) {

    .carousel-inner>.carousel-item>img,
    .carousel-inner>.carousel-item>a>img {
        position: relative;
        top: 0;
        left: 0;
        min-width: 100%;
        /* Set slide height here */
    }

}


@media (min-width: 768px) {

    #product-cover {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        height: 400px;
        display: block;
        justify-content: center;
        align-items: center;

    }

    #wrapper {
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

@media (max-width: 576px) {

    #product-cover {
        width: 100%;
        height: auto;


    }

}

/* -- Page: shop.js - filter menu -- */

.filter_ver2 {
    background: #f5f5f5;
}

.filter_ver2.show {
    display: block !important;
}

.filter_ver2 .filter_sidebar {
    margin-top: 0;
    padding: 40px;
}

.filter_ver2 .filter_sidebar .filter-category {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-category .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-category .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle {
    padding-left: 23px;
    padding-top: 15px;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li {
    list-style: none;
    padding-bottom: 13px;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    color: #000;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li a i {
    display: none;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li a:hover {
    color: #e62263;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li a:hover:before {
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-category .widget-content .list-category-toggle li a:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: #d9d9d9;
    border-radius: 50%;
    top: 5px;
    left: -26px;
    transition: .3s;
}

.filter_ver2 .filter_sidebar .filter-color {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-color .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-color .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-color .list_color {
    padding-left: 0;
    padding-top: 30px;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li {
    padding-bottom: 10px;
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li a:before {
    content: "";
    border: 1px solid #ccc;
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    transition: all 0.3s ease;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li a.active:before {
    border: 1px solid #000;
}

.filter_ver2 .filter_sidebar .filter-color .list_color li a:hover:before {
    border: 1px solid #000;
}

.filter_ver2 .filter_sidebar .filter-size {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-size .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-size .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-size .list-size {
    padding-left: 0;
    padding-top: 23px;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li {
    padding-bottom: 10px;
    list-style: none;
    display: inline-block;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li a {
    display: inline-block;
    min-width: 44px !important;
    height: 44px !important;
    line-height: 41px;
    border: 1px solid #b0b0b0 !important;
    color: #868686;
    margin: 0 10px 10px 0 !important;
    text-align: center;
    transition: all .3s ease;
    font-size: 14px;
    font-weight: 600;
    font-family: Roboto;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li a:hover {
    border: 1px solid #e62263 !important;
    color: #fff;
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-size .list-size li a.active {
    border: 1px solid #e62263 !important;
    color: #fff;
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-price {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-price .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-price .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-price .list-price {
    padding-top: 15px;
    padding-left: 23px;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li {
    padding-bottom: 13px;
    list-style: none;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a i {
    display: none;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a:hover,
.filter_ver2 .filter_sidebar .filter-price .list-price li a.active {
    color: #e62263;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a:hover:before,
.filter_ver2 .filter_sidebar .filter-price .list-price li a.active:before {
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-price .list-price li a:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: #d9d9d9;
    border-radius: 50%;
    top: 5px;
    left: -26px;
    transition: .3s;
}

.filter_ver2 .filter_sidebar .widget-tags {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .widget-tags .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .widget-tags .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag {
    padding-left: 0;
    padding-top: 15px;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag li {
    list-style: none;
    display: inline-block;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag li a {
    display: inline-block;
    min-width: 44px !important;
    height: 44px !important;
    line-height: 41px;
    border: 1px solid #b0b0b0 !important;
    color: #868686;
    margin: 0 10px 10px 0 !important;
    text-align: center;
    transition: all .3s ease;
    font-size: 14px;
    font-weight: 400;
    padding: 0 22px;
    font-family: Roboto;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag li a:hover {
    border: 1px solid #e62263 !important;
    color: #fff;
    background: #e62263;
}

.filter_ver2 .filter_sidebar .widget-tags .list-tag li a.active {
    border: 1px solid #e62263 !important;
    color: #fff;
    background: #e62263;
}

.filter_ver2 .filter_sidebar .filter-brand {
    padding-top: 0px;
}

.filter_ver2 .filter_sidebar .filter-brand .widget-title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    position: relative;
}

.filter_ver2 .filter_sidebar .filter-brand .widget-title:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 55px;
    background: #e62263;
    bottom: 0;
}

.filter_ver2 .filter_sidebar .filter-brand .list-brand {
    padding-top: 15px;
    padding-left: 23px;
}

.filter_ver2 .filter_sidebar .filter-brand .list-brand li {
    list-style: none;
    padding-bottom: 13px;
}

.filter_ver2 .filter_sidebar .filter-brand .list-brand li a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    position: relative;
    line-height: 0;
}

.filter_ver2 .filter_sidebar .filter-brand .list-brand li a i {
    color: #d4d4d4;
    font-size: 16px;
    padding-right: 14px;
}

.filter_ver2 .filter_sidebar .filter-brand .list-brand li a:hover {
    color: #e62263;
}

.filter_ver2 .filter_sidebar .filter-brand .list-brand li a:hover:before {
    color: #e62263;
}

.filter_ver2 .filter_sidebar .filter-brand .list-brand li a:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: #d9d9d9;
    border-radius: 50%;
    top: 5px;
    left: -26px;
    transition: .3s;
}