<!-- Register Page (Only for Guest users) -->
<section id="register">
    <div id="main-container">
        <div class="row justify-content-center" id="auth_content">
            <div class="col-lg-5  justify-content-center">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Create Account</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="signupForm" (ngSubmit)="signup()">

                            <div class="row mb-3">
                                <div class="form-group">
                                    <label for="inputUserName" 
                                        class="form-label
                                        fw-bold">Username</label>

                                    <input class="form-control" 
                                        id="inputUserName" 
                                        type="text" 
                                        min="2" max="20" 
                                        placeholder="Enter your user name" 
                                        name="username" 
                                        errorclass="is-invalid">
                                    <p class="invalid-feedback errors alert alert-danger">
                                        Username is required.
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label for="inputEmail" 
                                        class="form-label
                                        fw-bold">Email address</label>

                                    <input class="form-control" 
                                        id="inputEmail" 
                                        type="email" 
                                        placeholder="name@example.com" 
                                        name="emailAddress" 
                                        errorclass="is-invalid">
                                    <p class="invalid-feedback errors alert alert-danger">
                                        Valid email is required.
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label for="inputPassword" 
                                        class="form-label
                                        fw-bold">Password</label>

                                    <input class="form-control" 
                                        id="inputPassword" 
                                        type="password" 
                                        min="4" max="20" 
                                        placeholder="Create password" 
                                        name="password" 
                                        errorclass="is-invalid">
                                    <p class="invalid-feedback errors alert alert-danger">
                                        Password is required.
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label for="inputPasswordConfirm" 
                                        class="form-label
                                        fw-bold">Confirm password</label>

                                    <input class="form-control" 
                                        id="inputPasswordConfirm" 
                                        type="password" 
                                        min="4" max="20" 
                                        placeholder="Confirm password" 
                                        name="confirmPassword">
                                    <p class="invalid-feedback errors alert alert-danger">
                                        Confirmation password is required.
                                    </p>
                                </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <div class="d-grid">
                                    <input class="btn btn-primary" type="submit" value="Create Account">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small"><a href="/users/login">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Register</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="signupForm" (ngSubmit)="signup()">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                                Address</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'email'" id="email_address" class="form-control" name="email-address" required
                                    autofocus>
                                <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                                    Please provide a valid email
                                </span>                                    
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">User Name</label>
                            <div class="col-md-6">
                                <input type="text" [formControlName]="'username'"class="form-control" required autofocus>
                                <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
                                    Please provide a valid username
                                </span>                                 
                            </div>
                        </div>
 
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" [formControlName]="'password'" id="password" class="form-control" name="password" required>
                                <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
                                    Please provide a valid Password
                                </span>  
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="sign-up">
                                Sign Up
                            </button>
                            <span style="padding-left: 15px">Existing user? <a routerLink="/login">Log In</a></span>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>