<!-- <ng-container *ngIf="!isDashboard">
    <app-header></app-header>
    <carousel-main-slider *ngIf="isMainSlider"></carousel-main-slider>
    <app-secondary-navbar></app-secondary-navbar>
    <router-outlet></router-outlet>

</ng-container>

<ng-container *ngIf="isDashboard">
    <app-dashboard></app-dashboard>
    <router-outlet></router-outlet>

</ng-container>

<progress-spinner-overview> </progress-spinner-overview>


<ng-container *ngIf="!isDashboard">
    <app-footer></app-footer>
</ng-container> -->
<router-outlet></router-outlet>
