<ngb-carousel
	#carousel
	[interval]="5000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
	<ng-template ngbSlide *ngFor="let sliderItem of sliderItems">
		<a href="" target="_blank" rel="nofollow noopener noreferrer">
			<div class="picsum-img-wrapper">
				<img [@grow] [src]="sliderItem.storage.fileUrl" alt="My image description" />
			</div>
		</a>
		<div class="carousel-caption">
			<h3 class="animate__animated animate__backInRight">{{sliderItem.sliderItemTitle}}</h3>
			<p class="animate__animated animate__backInLeft">{{sliderItem.sliderItemContent}}</p>
		</div>
	
	</ng-template>
</ngb-carousel>




