<div id="products-categories-container" class="content p-5">
    <!-- Tabs content -->
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <!-- Category -->
            <div class="row">
                <div class="col-md mb-3">
                    <div class="form-group">
                        <label for="inputCategoryName" class="form-label fw-bold">Category name</label>
                        <input type="text" name="Categoty name" minlength="3" maxlength="34" required
                            class="form-control border-input border-input" id="inputCategoryName"
                            placeholder="e.g. Flowers">
                        <span class="error" aria-live="polite"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md mb-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputCategoryDescription" class="form-label fw-bold">Category
                                description</label>
                            <textarea type="text" name="Category description" minlength="8" maxlength="255" required
                                rows="5" class="form-control border-input" id="inputCategoryDescription"
                                placeholder="Enter productEntity description..."></textarea>
                            <span class="error" aria-live="polite"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 text-end">
                <div class="col-lg-12 col-md-12 col-sm-12 justify-content-end">
                    <input id="categoryBtn" class="btn btn-primary" type="submit" value="Add category">
                </div>
            </div>
            <!--End Category-->
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <!-- Category -->
            <div class="row">
                <div class="col-md mb-3">
                    <div class="form-group">
                        <label for="inputSubCategoryName" class="form-label fw-bold">Sub category name</label>
                        <input type="text" name="Sub categoty name" minlength="3" maxlength="34" required
                            class="form-control border-input border-input" id="inputSubCategoryName"
                            placeholder="e.g. Rose">
                        <span class="error" aria-live="polite"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md mb-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputSubCategoryDescription" class="form-label fw-bold">Sub category
                                description</label>
                            <textarea type="text" name="Sub category description" minlength="8" maxlength="255" required
                                rows="5" class="form-control border-input" id="inputSubCategoryDescription"
                                placeholder="Enter productEntity description..."></textarea>
                            <span class="error" aria-live="polite"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3 text-end">
                <div class="col-lg-12 col-md-12 col-sm-12 justify-content-end">
                    <input id="subCategoryBtn" class="btn btn-primary" type="submit" value="Add sub category">
                </div>
            </div>
            <!--End Category-->
        </div>

        <div class="col-lg-4">
            <div id="fontSizeWrapper">
                <label for="fontSize">Font size</label>
                <input type="range" value="1" id="fontSize" step="0.5" min="0.5" max="5" />
            </div>
            <ul class="tree">
                <li>
                    <input type="checkbox" checked="checked" id="c1" />
                    <label class="tree_label" for="c1">Level 0</label>
                    <ul>
                        <li>
                            <input type="checkbox" checked="checked" id="c2" />
                            <label for="c2" class="tree_label">Level 1</label>
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="c5" />
                    <label class="tree_label" for="c5">Level 0</label>
                    <ul>
                        <li>
                            <input type="checkbox" id="c6" />
                            <label for="c6" class="tree_label">Level 1</label>

                        </li>
                        <li>
                            <input type="checkbox" id="c7" />
                            <label for="c7" class="tree_label">Level 1</label>

                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>