<!-- Start Header -->
<header>
    <!-- Navbar -->

    <nav id="main-nav" class="navbar navbar-expand-lg fixed-top navbar-light mask-custom shadow-2">

        <div class="main-container">
            <a class="navbar-brand" routerLink="/api/home" routerLinkActive="active" ariaCurrentWhenActive="page"
                (click)="isMenuCollapsed">
                <img src="assets/img/logo.png" class="rounded-circle" height="55" alt="Logo" />
            </a>
            <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

            <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
                <div class="nav-content">
                    <!-- Start elements -->
                    <ul class="navbar-nav nav-left-side">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/api/home" routerLinkActive="active"
                                ariaCurrentWhenActive="page" (click)="isMenuCollapsed = true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/api/about-us" routerLinkActive="active"
                                ariaCurrentWhenActive="page" (click)="isMenuCollapsed = true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/api/product-list" routerLinkActive="active"
                                ariaCurrentWhenActive="page" (click)="isMenuCollapsed = true">Shop</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/api/contact-us" routerLinkActive="active"
                                (click)="isMenuCollapsed = true">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" routerLink="/api/blog-post" routerLinkActive="active"
                                (click)="isMenuCollapsed = true">Blog</a>
                        </li>
                        <li class="nav-item" *ngIf="isLogged()">
                            <a class="nav-link" routerLink="/admin" routerLinkActive="active"
                                (click)="isMenuCollapsed = true">Dashboard</a>
                        </li>
                    </ul>
                    <!-- End elements -->
                    <ul class="navbar-nav nav-right-side">
                        <!-- Search form -->
                        <li class="nav-item">
                            <form class="search-form" name="form" (ngSubmit)="f.form.valid && onSearchQuery(f)"
                                #f="ngForm" novalidate>
                                <input autocomplete="on" type="search" class="form-control rounded" placeholder="Search"
                                    name="name" style="min-width: 125px" minlength="1" maxlength="20" required
                                    [(ngModel)]="queryPayload.name" #name="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && queryPayload.errors }"
                                    (change)="onSearchQuery(f)" />

                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </form>
                        </li>
                        <!-- END - Search form -->
                        <!-- Users DropDown -->
                        <li>
                            <div class="nav-user">
                                <strong class="user-name">{{"Hi, " + username || "Hi"}}</strong>

                                <div ngbDropdown class="dropdown-user">
                                    <button type="button" class="btn btn-outline-primary" id="navbarDropdownMenuAvatar"
                                        ngbDropdownToggle aria-expanded="false">
                                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                                            class="rounded-circle" height="25" alt="Black and White Portrait of a Man"
                                            loading="lazy">

                                        <!-- <img [src]="profile.profilePhotoUrl.fileUrl || url" *ngIf="profile.profilePhotoUrl.fileUrl || url"
                                                  alt="Resource not found" class="card-img-top" alt="Failed to load image" /> -->

                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuAvatar">
                                        <a ngbDropdownItem routerLink="/api/login" *ngIf="!isLogged()">Login</a>
                                        <a ngbDropdownItem routerLink="/api/register" *ngIf="!isLogged()">Register</a>
                                        <a ngbDropdownItem routerLink="/api/profile" *ngIf="isLogged()">My profile</a>
                                        <a ngbDropdownItem routerLink="/api/settings" *ngIf="isLogged()">Settings</a>
                                        <a ngbDropdownItem (click)="onLogout()" *ngIf="isLogged()">Logout</a>

                                    </div>
                                </div>
                            </div>

                        </li>


                        <!-- END - Users DropDown -->
                        <!-- Shopping card -->
                        <li class="nav-item">
                            <a id="basket" class="nav-link" routerLink="/api/card" role="button" class="btn btn-link">
                                <i class="fa-solid fa-cart-plus me-2"></i>
                                <span class="badge rounded-pill badge-notification bg-danger"></span>
                            </a>
                        </li>
                        <!-- END - Shopping card -->

                        <!-- Notifications -->
                        <div ngbDropdown class="d-inline-block me-2">

                            <button type="button" class="btn btn-outline-primary" id="notificationDropDown"
                                ngbDropdownToggle aria-expanded="false">
                                <i class="fas fa-bell fa-lg me-1"></i>
                                <span class="badge rounded-pill badge-notification bg-danger">12</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="notificationDropDown">
                                <a ngbDropdownItem>Some news</a>
                                <a ngbDropdownItem>Another news</a>
                                <a ngbDropdownItem>Something else here</a>
                            </div>
                        </div>
                        <!-- END - Notifications -->

                        <!-- Countries DropDown -->
                        <!-- <div ngbDropdown class="d-inline-block">

        <button type="button" class="btn btn-outline-primary" id="languagesDropDown" ngbDropdownToggle
            aria-expanded="false">
            <i class="flag-bulgaria flag"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="languagesDropDown">
            <a ngbDropdownItem href="#"><i class="flag-bulgaria flag"></i>Bulgarian
                <i class="
                    flag-icon-bg ms-2"></i></a>
            <hr ngbDropdownItem class="dropdown-divider" />
            <a ngbDropdownItem ngbDropdownItem href="#"><i class="flag-us flag"></i>English</a>
            <a ngbDropdownItem ngbDropdownItem href="#"><i class="flag-germany flag"></i>Deutsch</a>
            <a ngbDropdownItem ngbDropdownItem href="#"><i class="flag-russia flag"></i>Русский</a>
        </div>
    </div> -->
                        <!-- END - Countries DropDown -->

                    </ul>
                    <!-- End elements -->
                </div>

            </div>
        </div>
    </nav>

    <!-- Carousel wrapper -->
    <!-- <carousel-main-slider></carousel-main-slider> -->
</header>
<!-- End Header -->