    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Method</th>
                <th scope="col">Browser</th>
                <th scope="col">Population</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trace of traceRequest let i = index">
                <th scope="row">{{ i }}</th>
                <td>
                    {{ trace.uri }}
                </td>
                <td>{{ trace.method}}</td>
                <td>{{ trace.headers.referer }}</td>
                <td>{{ trace.headers["user-agent"] }}</td>

            </tr>
        </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
        >
        </ngb-pagination>
    
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>

