.blog-post-list {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 21px;
}
.product-submit-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 24px;

}
.product-submit-btn > p {
}